﻿@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h4>Izberi parametre</h4>

<form id="getPersonList">
    <div class="row">
        <div class="form-group col-3">
            <input id="year" class="form-control" placeholder="Vnesi leto"/>
        </div>
        <div class="form-group col-3">
            <input id="month" class="form-control" placeholder="Vnesi mesec"/>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="izpiši" />

</form>

<h4 class="mt-5"> Podatki z APIja:</h4>
<div id="podatki" ></div>

@section Scripts
{

<script type='text/javascript'>/* attach a submit handler to the form */
    $("#getPersonList").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        url = "/person?";

    /* Send the data using post with element id name and name2*/
        var posting = jQuery.get(url.concat(jQuery.param({ year: $('#year').val(), month: $('#month').val() })));

        /* results */
        posting.done(function (data) {
            data.forEach(element => {
                console.log(element);
                var rojstvo = "rojen";
                if (element.gender == "F") { rojstvo = "rojena"; }
                jQuery("#podatki").append(
                    "<p>"
                        .concat(" ")
                        .concat(element.name)
                        .concat(" ")
                        .concat(element.surname)
                        .concat(", ")
                        .concat(rojstvo)
                        .concat(" v: ")
                        .concat(element.country)
                        .concat(" na dan: ")
                        .concat(moment(element.birthDate).format('DD. MM. YYYY'))
                        .concat("</p>"))
            }
            );
            
        });
    });
</script>
}